<mat-toolbar color="primary">
  <span>Chat App</span>
  <span class="fill-remaining-space"></span>
  <button (click)="onLoginClick()" mat-button *ngIf="!isLoggedIn()">Login</button>
  <button (click)="onSignUpClick()" mat-button *ngIf="!isLoggedIn()">Sign Up</button>
  <button (click)="openCreateRoomDialog()"*ngIf="isLoggedIn()" mat-button>Create A Room</button>
  <button (click)="onLogoutClick()"*ngIf="isLoggedIn()" mat-button>Logout</button>
</mat-toolbar>

<mat-card class="lobby-container">
  <mat-list style="overflow: auto">
    <mat-list-item *ngFor="let room of rooms">
      {{ room.name }}
      <span class="fill-remaining-space"></span>
      <button mat-button routerLink="/chat/{{room.name}}">Join</button>
    </mat-list-item>
  </mat-list>
</mat-card>

<router-outlet></router-outlet>