<h2 mat-dialog-title>Sign Up</h2>
<mat-dialog-content>
  <div [formGroup]="signUpForm" class="container">
    <mat-form-field>
      <input formControlName="username" matInput placeholder="Username">
      <mat-error *ngIf="username.invalid && username.errors?.usernameTaken && (username.dirty || username.touched)">Username taken</mat-error>
      <mat-error *ngIf="username.invalid && username.errors?.required && (username.dirty || username.touched)">Username required</mat-error>
      <mat-error *ngIf="username.invalid && username.errors?.minlength && (username.dirty || username.touched)">Username must be at least 3 characters long</mat-error>
      <mat-error *ngIf="username.invalid && username.errors?.maxlength && (username.dirty || username.touched)">Username must be at most 15 characters long</mat-error>
      <mat-hint *ngIf="username.valid && username.touched">Valid username</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input [type]="hide ? 'password' : 'text'" matInput="password" formControlName="password" placeholder="Password">
      <!-- <mat-error *ngIf="password.invalid && password.errors?. (password.dirty || password.touched)">Invalid password</mat-error> -->
      <mat-error *ngIf="password.invalid && password.errors?.required && (password.dirty || password.touched)">Password required</mat-error>
      <mat-error *ngIf="password.invalid && password.errors?.minlength && (password.dirty || password.touched)">Password must be at least 3 characters long</mat-error>
      <mat-error *ngIf="password.invalid && password.errors?.maxlength && (password.dirty || password.touched)">Password must be at most 20 characters long</mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
  <button mat-button (click)="onSignUpClick()">Sign Up</button>
</mat-dialog-actions>